<header class="header" [ngClass]="lang">
  <div class="header-inner header-wide">
    <div class="brand header-logo">
      <img src="assets/logo/riseroots.png" alt="RiseRoots Logo" class="logo" />
      <span class="brand-name">{{ text[lang].title }}</span>
    </div>

    <div class="lang">
      <button (click)="switchLang('en')">EN</button>
      <button (click)="switchLang('te')">TE</button>
      <button (click)="switchLang('hi')">HI</button>
    </div>
  </div>

  <nav class="tabs">
    <button
      [class.active]="activeTab === 'services'"
      (click)="switchTab('services')">
      Our Services
    </button>

    <button
      [class.active]="activeTab === 'realestate'"
      (click)="switchTab('realestate')">
      Real Estate
    </button>

    <button (click)="switchTab('xyz')">...</button>
  </nav>
</header>
